.status-bar {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  border-top: 1px solid $quill-gray;
  background-color: $white;
  z-index: 50;

  span {
    padding-left: 10px;
  }

  .source {
    display: flex;
    align-items: center;
    background-color: $light-yellow;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    a {
      color: #000;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
